<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="60" width="60"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/></h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="overview">Overview</a>
    <a class="item" data-tab="stats">Stats</a>
  </nav>

  <section class="sheet-body" id="character-tabs">
    <div class="tab overview" data-group="primary" data-tab="overview">
      <h3>Character Overview</h3>
      <p>Name: {{actor.name}}</p>
      <p>Type: {{actor.type}}</p>
    </div>

    <div class="tab stats" data-group="primary" data-tab="stats">
      <h3>Stats</h3>
      <p>This is working!</p>
    </div>
  </section>
</form> 