<div class="daggerheart domain-card-chat">
  <div class="card-header">
    <img src="{{item.img}}" width="36" height="36" />
    <div class="card-title">
      <h4>{{item.name}}</h4>
      <div class="card-meta">
        <span class="domain">{{capitalize data.domain}}</span>
        <span class="level">Level {{data.level}}</span>
        <span class="recall">Recall: {{data.recallCost}} Stress</span>
      </div>
    </div>
  </div>

  <div class="card-description">
    {{{data.description}}}
  </div>

  {{#if data.effect}}
    <div class="card-effect">
      <strong>Effect:</strong> {{{data.effect}}}
    </div>
  {{/if}}

  <div class="card-properties">
    {{#each data.properties}}
      <span class="property">{{this}}</span>
    {{/each}}
  </div>
</div> 