<div class="daggerheart item-card-chat">
  <div class="card-header">
    <img src="{{item.img}}" width="36" height="36" />
    <div class="card-title">
      <h4>{{item.name}}</h4>
      <div class="card-meta">
        <div class="item-type">{{capitalize item.type}}</div>
        {{#if data.tier}}
          <span class="tier">Tier {{data.tier}}</span>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="card-description">
    {{{data.description}}}
  </div>

  {{#if data.properties}}
    <div class="card-properties">
      {{#each data.properties}}
        <span class="property">{{this}}</span>
      {{/each}}
    </div>
  {{/if}}
</div> 